* {
  font-family: sans-serif;
}

body {
<<<<<<< HEAD
<<<<<<< HEAD
=======
  height: 100vh;
  width: 100%;
>>>>>>> development
=======
  height: 100vh;
  width: 100%;
>>>>>>> development
  margin: 0 auto;
}

h1 {
  margin: 0;
}