nav {
  background-color: black;
  color: white;
  height: 49px;
  width: calc(100% - 15px);
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  gap: 7.5px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}