.new-call-note-container {
  background-color: black;
  height: calc(100vh - 125px);
  width: 67%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
}

.new-call-note-container > form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.new-call-note-container > form > label {
  margin-top: 5px;
}

.new-call-note-container > form > input {
  height: 7.5%;
  border-radius: 5px;
  border: none;
}

.new-call-note-container > form > textarea {
  height: 30%;
  border-radius: 5px;
  border: none;
}

.form-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.form-buttons-container > button {
  width: 49%;
  height: 60px;
  border-radius: 5px;
  border: none;
}